fastapi
uvicorn[standard]
sqlalchemy
lyricsgenius
requests
backoff
torch
transformers
sentence-transformers
cryptography
python-dotenv
sentencepiece
scipy
nltk
huggingface_hub[hf_xet]











